{% import "partials/macros/form.html.twig" as forms %}
{% import "macros/button.html.twig" as button  %}

<section class="min-h-screen">
    <form class="form">
        <div class="form-group">
            {{ forms.textinput_label(
                "textinput", "Text Input", "", "text", 20, "textinput", false
            ) }}
            {{ forms.textinput_label(
                "textinput", "Text Input", "", "text", 20, "textinput", false
            ) }}
        </div>
        <fieldset>
            <legend>Title</legend>
            <ul>
                <li>
                    <label for="title_1">
                        <input type="radio" id="title_1" name="title" value="K" />
                        King
                    </label>
                </li>
                <li>
                    <label for="title_2">
                        <input type="radio" id="title_2" name="title" value="Q" />
                        Queen
                    </label>
                </li>
                <li>
                    <label for="title_3">
                        <input type="radio" id="title_3" name="title" value="J" />
                        Joker
                    </label>
                </li>
            </ul>
        </fieldset>
    </form>
</section>
<div class="min-h-screen">
    {{ button.button("Submit", "primary", "button") }}
    {{ button.button("Submit", "primary-outline", "button") }}
    {{ button.button("Submit", "success", "button") }}
    {{ button.button("Submit", "info", "button") }}
    {{ button.button("Submit", "warning", "button") }}
    {{ button.button("Submit", "danger", "button") }}

    {{ button.infobox("This is success", "succsess") }}

    {% include 'macros/modal.html.twig' %}
</div>
<table class="table">
    <thead>
    <tr>
        <th>Textspalte mit Link</th>
        <th>Textspalte</th>
        <th>Zahlen</th>
        <th>Spalte mit Status</th>
        <th>Spalte mit Bild</th>
        <th>Spalte mit Button</th>
    </tr>
    </thead>
        <tbody>
        {% for i in range(1, 5) %}
            <tr>
                <td>
                    <a href="#" class="link">Link</a>
                </td>
                <td>Label</td>
                <td class="text-right">1.234,56</td>
                <td>Status</td>
                <td class="flex justify-center items-center"><img class="h-32" src="https://picsum.photos/200"></td>
                <td>
                    <button class="btn">Button</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>