{% macro textinput(name, value, type = "text", size = 20, id, required = false, helplink, helptext) %}
    <div class="flex flex-col gap-0.5">
        <input
                class="bg-gray-100 border-b-2 border-b-dp-orange-300 rounded px-2 py-1 hover:bg-gray-200 focus:border-b-dp-orange outline-0"
                type="{{ type }}"
                name="{{ name }}"
                value="{{ value|e }}"
                size="{{ size }}"
                id={{ id }}
                {{ required ? "required" : "" }}/>
        {{ _self.helptext(helptext, helplink) }}
    </div>
{% endmacro %}

{% macro select(name, values, id, required = false, helplink, helptext) %}
    <div class="flex flex-col gap-0.5">
        <select
                class="bg-gray-100 border-b-2 border-b-dp-orange-300 rounded px-2 py-2 hover:bg-gray-200 focus:border-b-dp-orange outline-0"
                name="{{ name }}"
                id="{{ id }}"
                {{ required ? "required" : "" }}>
            {% for key, text in values %}
                <option value="{{ key }}">{{ text }}</option>
            {% endfor %}
        </select>
        {{ _self.helptext(helptext, helplink) }}
    </div>
{% endmacro %}

{% macro check(name, values, id, required = false, helplink, helptext, type) %}
    <div class="flex flex-col gap-0.5">
        <div class="flex gap-4">
            {% for key, text in values %}
                <div class="flex items-center gap-2">
                    <input
                            type="{{ type }}" id="{{ id }}_{{ loop.index }}" name="{{ name }}" value="{{ key }}" {{ required ? "required" : "" }} />
                    <label for="{{ id }}_{{ loop.index }}">{{ text }}</label>
                </div>
            {% endfor %}
        </div>
        {{ _self.helptext(helptext, helplink) }}
    </div>
{% endmacro %}

{% macro helptext(content, helplink) %}
    <div class="flex justify-between items-center">
        <small class="text-sm text-gray-500">
            {{ content }}
        </small>
        {% if helplink %}
            <a href="{{ helplink }}" target="_blank" rel="noopener noreferrer">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 fill-dp-orange" viewBox="0 0 24 24"><path d="m15.07 11.25l-.9.92C13.45 12.89 13 13.5 13 15h-2v-.5c0-1.11.45-2.11 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41a2 2 0 0 0-2-2a2 2 0 0 0-2 2H8a4 4 0 0 1 4-4a4 4 0 0 1 4 4a3.2 3.2 0 0 1-.93 2.25M13 19h-2v-2h2M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10c0-5.53-4.5-10-10-10Z"/></svg>
            </a>
        {% endif %}
    </div>
{% endmacro %}

{% macro label(for, content, required = false) %}
    <label class="font-bold" for="{{ for }}">
        <span>{{ content }}: </span>
        {{ required ? '<strong><span aria-label="required">*</span></strong>' : '' }}
    </label>
{% endmacro %}

{% macro textinput_label(name, label, value, type = "text", size = 20, id, required = false, helplink, helptext) %}
    {{ _self.label(id, label, required) }}
    {{ _self.textinput(name, value, type, size, id, required, helplink, helptext) }}
{% endmacro %}

{% macro select_label(name, label, values, id, required = false, helplink, helptext) %}
    {{ _self.label(id, label, required) }}
    {{ _self.select(name, values, id, required, helplink, helptext) }}
{% endmacro %}

{% macro check_label(name, label, values, id, required = false, helplink, helptext, type = "radio") %}
    {{ _self.label(id, label, required) }}
    {{ _self.check(name, values, id, required, helplink, helptext, type) }}
{% endmacro %}